<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
<section>
    <div class="container-fluid">
        <div class="row">
            <div id="sidebar" class="col-4 vh-100 bg-info p-4">

            </div>

            <div id="chat" class="col-8 d-flex flex-column flex-grow-1 vh-100 p-0">

                <div id="messages" class="flex-grow-1">

                </div>

                <div id="compose">
                    <form id="message-form" class="form-inline">
                        <div class="form-group flex-grow-1">
                            <input type="text" name="message" placeholder="Message" required autocomplete="off">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-warning btn-lg" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<!--HTML Template-->
<!--We use Mustache to generate that-->
<script id="message-template" type="text/html">
    <div class="alert message {{bgClass}}">
        <div>
            <span class="message-name">{{username}}</span>
            <span class="message-meta">{{createdAt}}</span>
        </div>
        <div>{{message}}</div>
    </div>
</script>



<script id="sidebar-template" type="text/html">
    <div class="alert alert-primary">
        Room: <strong>{{room}}</strong><br>
        Username: <strong>{{currentUser}}</strong>
    </div>

    <ul class="list-group">
        <li class="list-group-item list-group-item-primary">Users in the chatroom</li>
        {{#users}}
            <li class="list-group-item list-hover">{{username}}</li>
        {{/users}}
    </ul>
</script>
<!---->



<!--For work With templates-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.min.js"></script>
<!--For work with date-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<!--For parsing data from URL-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.1/qs.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat_logic.js"></script>
</body>

</html>